<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <meta charset="UTF-8">

  <title>Patrimoine</title>

    <link rel="stylesheet" href="/assets/css2/linearicons.css">
    <link rel="stylesheet" href="/assets/css2/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css2/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/assets/css2/bootstrap.css">
    <link rel="stylesheet" href="/assets/css2/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="/assets/css2/main.css">


    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

    <app-barre></app-barre>
<br>
    <section id="blog" class="blog">
      <div class="container">

        <span><h1 style="text-align: center;">Details sur le patrimoine</h1></span>

        <div class="row">

          <div class="col-lg-4 entries">

            <article class="entry" *ngFor="let patrimoine of patrimoines">

              <div class="entry-img">
                <img style="width: 500px; height: 300px;" [src]="imagepath + patrimoine.image" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a>{{patrimoine.titre}} / {{patrimoine.pays}} / {{patrimoine.ville}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex "><i class="icofont-user"></i> <a>Entreprise réalisatrice: {{patrimoine.entreprise}}</a></li><br>
                  <li class="d-flex "><i class="icofont-user"></i><a>Chef d'équipe: {{patrimoine.chefEquipe}}</a></li><br>
                  <li class="d-flex "><i class="icofont-wall-clock"></i><strong> <a>Date d'écheance: {{patrimoine.echeance}}</a></strong></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  Description: {{patrimoine.description}}
                </p>

              <!--  <form *ngIf="!blocage" [formGroup]="form"(ngSubmit)="comment()" name="myform" novalidate>

                <div style="display: inline;" *ngFor="let userdetailss of userdetails">

                <mat-form-field>
                <textarea matInput formControlName="comment" placeholder="Laissez un commentaire" name="" id="" cols="100" rows="5" [ngClass]="{ 'is-invalid': submitted && form.controls['comment'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['comment'].valid}" required></textarea>
                </mat-form-field>

                <input  style="visibility: hidden; width: 0; height: 0; margin-top: -70px;" [(ngModel)]="username" class="form-control" formControlName="userid" type="any" value="{{username}}">
                <input  style="visibility: hidden; width: 0; height: 0;" [(ngModel)]="patrimoine.id" class="form-control" formControlName="patid" type="any" value="{{patrimoine.id}}">
                <input   style="visibility: hidden; width: 0; height: 0;" [(ngModel)]="userdetailss.prenom" type="any" class="form-control" value="{{userdetailss.nom}} {{userdetailss.prenom}}" formControlName="username" >
                <input    class="form-control" formControlName="parentid" type="any" value="null">
                </div>

                <div class="read-more" style="display: inline;">
                  <button [ngClass]="{ 'disabled': form.controls['comment'].invalid}" type="submit" class="btn btn-primary">commenter</button>
                </div>
                </form>-->

                <div *ngIf="!blocage" style="text-align: right;">
                  <button mat-mini-fab color="accent" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </button>
                </div>

                <div *ngIf="blocage && patrimoine.validation==0" style="text-align: right;">
                  <button  (click)="validerpatrimoine()" class="btn btn-success">
                   Valider
                  </button>
                  </div>

                  <div *ngIf="blocage && patrimoine.validation==1" style="text-align: right;">
                    <button (click)="retirerpatrimoine()" class="btn btn-danger">
                     Retirer
                    </button>
                    </div>

                <br *ngIf="!blocage"><br>

              </div>

            </article>
          </div>

          <div *ngFor="let patrimoine of patrimoines" class="col-lg-8">

            <div class="sidebar">

              <h3 class="sidebar-title">Localisation</h3>
              <div class="sidebar-item search-form">

                <div>
                  <agm-map [latitude]="latitude" [longitude]="longitude">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                  </agm-map>

                  </div>

              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Autres détails</h3>
              <div class="sidebar-item categories">
                <ul>
                  <li><a (click)="redirect(id)">Commentaires <span>({{totalcomments}})</span></a></li>
                  <li><a href="#">Like <span>(12)</span></a></li>
                  <li><a href="#">Visites <span>(5)</span></a></li>
                </ul>
              </div><!-- End sidebar categories-->


                <h2>Quelques commentaires récents</h2>

                 <div class="col-md-8 col-lg-12">
                   <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                     <div class="card-body p-8">

                       <form *ngIf="!blocage" [formGroup]="form"(ngSubmit)="comment()" name="myform" novalidate>

                       <div style="display: inline;" *ngFor="let userdetailss of userdetails">

                         <input  style="visibility: hidden; width: 0; height: 0; margin-top: -70px;" [(ngModel)]="username" class="form-control" formControlName="userid" type="any" value="{{username}}">
                         <input  style="visibility: hidden; width: 0; height: 0;" [(ngModel)]="patrimoine.id" class="form-control" formControlName="patid" type="any" value="{{patrimoine.id}}">
                         <input  style="visibility: hidden; width: 0; height: 0;" [(ngModel)]="userdetailss.prenom" type="any" class="form-control" value="{{userdetailss.nom}} {{userdetailss.prenom}}" formControlName="username" >
                         <input  class="form-control" formControlName="parentid" [(ngModel)]="idresponse" type="any" value="{{idresponse}}">

                       </div>

                       <div class="form-outline mb-4">

                         <input [style.color]="'blue'" value="@{{name}}" formControlName="comment" [ngClass]="{ 'is-invalid': submitted && form.controls['comment'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['comment'].valid}" class="form-control" placeholder="Laissez votre commentaire..."  required/>
                         <button [ngClass]="{ 'disabled': form.controls['comment'].invalid}" type="submit" mat-button color="primary" aria-label="Example icon button with create button">
                           <mat-icon>create</mat-icon>Commenter?
                         </button>
                         <mat-spinner *ngIf="spiner2" diameter="50"></mat-spinner>
                       </div>

                       </form>

                       <div *ngIf="totalcomments>0" class="card mb-4">
                         <div class="card-body" *ngFor="let comment of comments.slice(0,limit)">
                           <p *ngIf="comment.parent_id==null">{{comment.comment}}</p>

                           <div class="d-flex justify-content-between" *ngIf="comment.parent_id==null">
                             <div class="d-flex flex-row align-items-center">
                               <img src="assets/img2/image12.png" alt="avatar" width="25"
                                 height="25" />
                               <p class="small mb-0 ms-2">{{comment.username}}</p>
                             </div>
                             <div class="d-flex flex-row align-items-center">
                               <a (click)="response(comment.id,comment.username)"><p class="small text-muted mb-0">Repondre?</p></a>
                             </div>
                           </div>

                           <div *ngFor="let replie of replies">
                            <div *ngIf="replie.parent_id==comment.id">

                          <div class="card-body">
                            <p>Réponses à <span style="color: blue;">@{{comment.username}}</span> </p>
                              <p>{{replie.comment}}</p>

                            <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                <img src="assets/img2/image12.png" alt="avatar" width="25"
                                  height="25" />
                                <p class="small mb-0 ms-2">{{replie.username}}</p>
                              </div>
                              <div class="d-flex flex-row align-items-center">
                                <a (click)="response(replie.id,replie.username)"><p class="small text-muted mb-0">Repondre?</p></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                         </div>
                       </div>


                       <div *ngIf="totalcomments==0">

                          <div class="d-flex justify-content-between">
                            Aucun commentaire sur ce patrimoine
                          </div>

                       </div>

                       <div style="text-align: left;" *ngIf="totalcomments>2 && totalcomments!=limit">
                      <a (click)="actualiser()">Voir tous les commentaires<mat-icon>keyboard_arrow_down</mat-icon></a>
                      </div>

                      <div style="text-align: left;" *ngIf="totalcomments>2 && totalcomments==limit">
                        <a (click)="actualiserplus()">Voir les commentaires récents<mat-icon>keyboard_arrow_up</mat-icon></a>
                        </div>

                     </div>
                   </div>
                 </div>

            </div><!-- End sidebar -->



          </div><!-- End blog sidebar -->

        </div>
      </div>



</section>

</body>

</html>
