<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <meta charset="UTF-8">

  <title>Patrimoine</title>

    <link rel="stylesheet" href="/assets/css2/linearicons.css">
    <link rel="stylesheet" href="/assets/css2/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css2/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/assets/css2/bootstrap.css">
    <link rel="stylesheet" href="/assets/css2/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="/assets/css2/main.css">


    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body ng-controller="MainCtrl">


    <header class="default-header">
      <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <span>Patrimoines</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
              <ul class="navbar-nav">

                <li  *ngIf="connected"><a href="#" >Acceuil</a></li>
								<li  *ngIf="connected"><a href="#" >Autour de moi</a></li>
								<li  *ngIf="connected"><a href="#">Carte des points à voir</a></li>
								<li  *ngIf="connected"><a href="#">Les communes</a></li>

							    <li *ngIf="connected" class="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Profil
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" >Consulter votre profil</a>
                    <a class="dropdown-item" href="#" (click)="deconnexion()">Deconnexion</a>
                  </div>
                </li>

              </ul>
            </div>
        </div>
      </nav>
    </header>

<br>
    <div class="limiter">
      <div class="container-login200">
        <div class="wrap-login100">

        <div class="row justify-content-center">
          <form [formGroup]="form" (ngSubmit)="submitPatrimoine2()" name="myform" novalidate>
            <br><br>
            <span style="text-align: center; margin-top: -100px;" class="login100-form-title">FORMULAIRE D'AJOUT D'UN PATRIMOINE</span>

<br>

<span class="login100-form-title" style="text-align: center;">Generalites sur le patrimoine</span>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                <strong><label for="inputName">Nom :</label></strong>
                <input type="text" id="form6Example1" formControlName="nompat" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.controls['nompat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['nompat'].valid}" required>

                <div *ngIf="submitted && form.controls['nompat'].errors" class="text-danger">
                  <div *ngIf="form.controls['nompat'].errors['required']">Obligatoire</div>
                </div>

              </div>
            </div>
              <div class="form-group col-md-6">
                  <label for="inputStatus">Type de Patrimoine</label>
                  <select id="inputStatus" class="form-control custom-select" formControlName="typepat" [ngClass]="{ 'is-invalid': submitted && form.controls['typepat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['typepat'].valid}" required>
                    <option selected disabled>Select one</option>
                    <option>Maison d'habitation</option>
                    <option>Monument</option>
                    <option>Imeuble</option>
                    <option>Route</option>
                  </select>
              </div>
              <div *ngIf="submitted && form.controls['typepat'].errors" class="text-danger">
                <div *ngIf="form.controls['typepat'].errors['required']">Obligatoire</div>
              </div>
            </div>
            <div class="form-group">

            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputClientCompany">Entreprise realisatrice</label>
              <input type="text" id="inputClientCompany" class="form-control" formControlName="entpat" [ngClass]="{ 'is-invalid': submitted && form.controls['entpat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['entpat'].valid}" required>
              <div *ngIf="submitted && form.controls['entpat'].errors" class="text-danger">
                <div *ngIf="form.controls['entpat'].errors['required']">Obligatoire</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="inputProjectLeader">Chef d'equipe</label>
              <input type="text" id="inputProjectLeader" class="form-control" formControlName="chfequippat" [ngClass]="{ 'is-invalid': submitted && form.controls['typepat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['typepat'].valid}" required>
              <div *ngIf="submitted && form.controls['chfequippat'].errors" class="text-danger">
                <div *ngIf="form.controls['chfequippat'].errors['required']">Obligatoire</div>
              </div>
            </div>
          </div>

            <div class="form-row">

              <div class="form-group col-md-6">
                <label for="exampleInputFile">Image</label>
                <div class="input-group">
                    <input type="file" formControlName="imgpat" class="form-control" for="exampleInputFile" (change)="handeFileInput($event)" [ngClass]="{ 'is-invalid': submitted && form.controls['imgpat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['imgpat'].valid}" required/>
                </div>
                <div *ngIf="submitted && form.controls['imgpat'].errors" class="text-danger">
                  <div *ngIf="form.controls['imgpat'].errors['required']">Obligatoire</div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="exampleInputFile">Plan de construction</label>
                <div class="input-group">
                    <input type="file" formControlName="planfilepat" class="form-control" for="exampleInputFile" (change)="handeFileInput2($event)" [ngClass]="{ 'is-invalid': submitted && form.controls['planfilepat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['planfilepat'].valid}" required/>
                </div>
                <div *ngIf="submitted && form.controls['planfilepat'].errors" class="text-danger">
                  <div *ngIf="form.controls['planfilepat'].errors['required']">Obligatoire</div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="inputProjectLeader">Pays</label>
                <input type="text" id=" " class="form-control" formControlName="payspat" [ngClass]="{ 'is-invalid': submitted && form.controls['payspat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['payspat'].valid}" required>
                <div *ngIf="submitted && form.controls['payspat'].errors" class="text-danger">
                  <div *ngIf="form.controls['payspat'].errors['required']">Obligatoire</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputProjectLeader">Ville</label>
                <input type="text" id=" " class="form-control" formControlName="villepat" [ngClass]="{ 'is-invalid': submitted && form.controls['villepat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['villepat'].valid}" required>
                <div *ngIf="submitted && form.controls['villepat'].errors" class="text-danger">
                  <div *ngIf="form.controls['villepat'].errors['required']">Obligatoire</div>
                </div>
              </div>

            </div>

            <br>

            <div class="form-group">
              <label for="inputDescription">Description :</label>
              <textarea [ngClass]="{ 'is-invalid': submitted && form.controls['descpat'].errors }" id="inputDescription" formControlName="descpat" class="form-control" rows="4"></textarea>
              <div *ngIf="submitted && form.controls['descpat'].errors" [ngClass]="{ 'is-valid': submitted && form.controls['descpat'].valid}" class="text-danger">
                <div *ngIf="form.controls['descpat'].errors['required']">Obligatoire</div>
              </div>
            </div>

            <mat-form-field appearance="fill">
              <mat-label>Entrez la date de debut et de fin</mat-label>
              <mat-date-range-input [formGroup]="echeancepat" [rangePicker]="picker" required>
                <input matStartDate formControlName="start" placeholder="debut">
                <input matEndDate formControlName="end" placeholder="Fin">
              </mat-date-range-input>
              <mat-hint>MM/JJ/AAAA – MM/JJ/AAAA</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>

            </mat-form-field>


            <h2>
              Start: {{echeancepat.value.start | date}}
              End: {{echeancepat.value.end | date}}
            </h2>

            <div *ngIf="submitted && form.controls['echeancepat'].errors" class="text-danger">
              <div *ngIf="form.controls['echeancepat'].errors['required']">Obligatoire</div>
            </div>

	<!--
            <div class="form-group">
              <label>Echeance de realisation:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                </div>
                <input type="text" class="form-control float-right" id="reservation"  formControlName="echeancepat" [ngClass]="{ 'is-invalid': submitted && form.controls['echeancepat'].errors }" [ngClass]="{ 'is-valid': submitted && form.controls['echeancepat'].valid}" required>
              </div>
              <div *ngIf="submitted && form.controls['echeancepat'].errors" class="text-danger">
                <div *ngIf="form.controls['echeancepat'].errors['required']">Obligatoire</div>
              </div>
            </div>
Titre du site -->
            <br><br><br>

            <span class="login100-form-title" style="text-align: center;">Localisation du patrimoine</span>

            <div>
            <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>

            </div>


            <div class="form-group">
              <label for="inputEstimatedBudget">latitude</label>
              <input [(ngModel)]="latitude" type="any" step="any" id="lat" class="form-control" formControlName="lat">
              <input value="{{username}}" [(ngModel)]="username" type="any" step="any" id="idUser" class="form-control" formControlName="idUser">
            </div>
            <div class="form-group">
              <label for="inputSpentBudget">Longitude</label>
              <input [(ngModel)]="longitude" type="any" step="any" id="lng" class="form-control" formControlName="lng">
            </div>
            <button class="alert alert-danger" type="submit" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">Ajouter votre patrimoine</button>

          </form>
        </div>
      </div>
    </div>
  </div>


    <footer>

    </footer>

    </body>

    <script>


          </script>
    </html>
