<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
  <meta charset="UTF-8">

  <title>Patrimoine</title>

    <link rel="stylesheet" href="/assets/css2/linearicons.css">
    <link rel="stylesheet" href="/assets/css2/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css2/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/assets/css2/bootstrap.css">
    <link rel="stylesheet" href="/assets/css2/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="/assets/css2/main.css">


    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>

    <header class="default-header">
      <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <span>Patrimoines</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
              <ul class="navbar-nav">

                <li  *ngIf="connected"><a href="#" >Acceuil</a></li>
								<li  *ngIf="connected"><a href="#" >Autour de moi</a></li>
								<li  *ngIf="connected"><a href="#">Carte des points à voir</a></li>
								<li  *ngIf="connected"><a href="#">Les communes</a></li>

							    <li *ngIf="connected" class="dropdown">
                  <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Profil
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" >Consulter votre profil</a>
                    <a class="dropdown-item" href="#" (click)="deconnexion()">Deconnexion</a>
                  </div>
                </li>

              </ul>
            </div>
        </div>
      </nav>
    </header>

    <br><br> <br><br>

<section style="background-color: white;" id="team" class="team section-bg">
  <div style="background-color: white;" class="container" data-aos="fade-up">

    <div class="section-title">
      <h2 style="text-align: center;">Les differents patrimoines</h2>
      <p style="text-align: center;">queques generalités</p>
    </div>

    <div class="row">

      <div *ngFor="let patrimoines of patrimoine" class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img [src]="patrimoines.image? imagepath + patrimoines.image:'' " height="100" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>{{patrimoines.typepat}}</h4>
            <h4>{{patrimoines.titre}}</h4>
            <span>Chief Executive Officer</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

</body>

</html>
