	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<meta charset="UTF-8">
		<!-- Titre du site -->
		<title>Patrimoine</title>

      <link rel="stylesheet" href="/assets/css2/linearicons.css">
			<link rel="stylesheet" href="/assets/css2/font-awesome.min.css">
			<link rel="stylesheet" href="/assets/css2/jquery.DonutWidget.min.css">
			<link rel="stylesheet" href="/assets/css2/bootstrap.css">
			<link rel="stylesheet" href="/assets/css2/owl.carousel.css">
			<link type="text/css" rel="stylesheet" href="/assets/css2/main.css">


		</head>
		<body>

			<header class="default-header">
				<nav class="navbar navbar-expand-lg  navbar-light">
					<div class="container">
						  <a class="navbar-brand" href="index.html">
                <h4>Patrimoines</h4>
						  </a>
						  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-icon"></span>
						  </button>

						  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
						    <ul class="navbar-nav">

                  <div *ngIf="!connected">
                    <li><a routerLink="/login" >Connectez vous!</a></li>
                    <li><a routerLink="/inscription">S'inscrire!</a></li>
                      </div>

                  <div *ngIf="connected">
								<li><a >Acceuil</a></li>
								<li><a >Autour de moi</a></li>
								<li><a >Carte des points à voir</a></li>
								<li><a >Les communes</a></li>

							    <li class="dropdown">
							      <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							        Profil
							      </a>
							      <div class="dropdown-menu">
							        <a class="dropdown-item" href="#" >Consulter votre profil</a>
							        <a class="dropdown-item" href="#" (click)="deconnexion()">Deconnexion</a>
							      </div>
							    </li>

                  </div>
						    </ul>
						  </div>
					</div>
				</nav>
			</header>

			<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="/assets/img2/burkina.jpg">
				<div class="overlay-bg overlay"></div>
				<div class="container">
					<div class="row fullscreen  d-flex align-items-center justify-content-end">
						<div class="banner-content col-lg-2 col-md-6">
							<h1>
								AGENDA<br>
								<span>DU PATRIMOINE</span>
							</h1>
              <p style="color: white">Decouvrez toutes les portes ouvertes, visites </p>
							<a href="#" class="primary-btn2 header-btn text-uppercase">Ajouter un patrimoine!</a>
						</div>
					</div>
				</div>
			</section>

      <footer>

      </footer>

      </body>
      </html>
